img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.PointsCard{
    background: #000;
    height: 27vh;
    width: 9vw;
    position: relative;
    padding: 0;
    border: solid 2px #10d7ee;
    margin: 5vh auto;
    color: #10d7ee;
}

.upLeft{
    position: absolute;
    top: 0.5vh;
    left: 0.5vh;
}

.upRight{
    position: absolute;
    top: 0.5vh;
    right: 0.5vh;
}

.botLeft{
    position: absolute;
    bottom: 0.3vh;
    left: 0.5vh;
}

.botRight{
    position: absolute;
    bottom: 0.3vh;
    right: 0.5vh;
}