img{
    position: absolute;
    top: 5px;
    left: 0px;
    width: 100%;
}

.PointsCard{
    background: #000;
    height: 27vh;
    width: 9vw;
    position: relative;
    padding: 0;
    border: solid 2px #10d7ee;
    margin: 5vh auto;
    color: #10d7ee;
}

.upLeft{
    position: absolute;
    top: 5px;
    left: 5px;
}

.upRight{
    position: absolute;
    top: 5px;
    right: 5px;
}

.botLeft{
    position: absolute;
    bottom: 3px;
    left: 5px;
}

.botRight{
    position: absolute;
    bottom: 3px;
    right: 5px;
}