header{
  background: #000;
  border-bottom: #F5D715 2px solid;
  border-left: #F5D715 2px solid;
  border-right: #F5D715 2px solid;
  padding: 10px;
}

.App {
  text-align: center;
  min-width: 0px;
  max-width: 400px;
  margin: 0 auto;
}

