*{
  font-family: 'SF Distant Galaxy';
}

p{
  margin: 0;
  font-size: 2vh;
}

header{
  background: #000;
  border-bottom: #F5D715 2px solid;
  border-left: #F5D715 2px solid;
  border-right: #F5D715 2px solid;
  padding: 1vh;
}

h1{
  margin: 0 auto;
  font-family: 'SF Distant Galaxy Outline';
  color: #F5D715;
}

.App {
  background: #000;
}

.layout{
  min-width: 0px;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  background-image: url("./star-wars-stars-background-3.jpg");
  overflow: hidden;
}

